@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Preahvihear&display=swap");

/*#region ROOT */
:root {
  --white: #ffffff;
  --purple: #7127ba;
  --purple-light: #a362ff;
  --purple-dark: #1a0b2e;
  --purple-tag-project: #9857d3;
  --social-link-color: #1877f2;

  --background: #11071f;

  --background-circle-shadow: rgb(105, 59, 147);
  --background-circle-shadow-gradient: radial-gradient(
    circle,
    rgba(105, 59, 147, 1) 0%,
    rgba(70, 144, 212, 0) 100%
  );

  --background-glass: rgba(105, 59, 147, 0.2);
  --background-glass--gradient: radial-gradient(
    circle,
    rgba(70, 144, 212, 0) 0%,
    rgba(110, 191, 244, 1) 22.4%,
    rgba(105, 59, 147, 1) 100%
  );

  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-preahvihear: "Preahvihear", sans-serif;
}
/*#endregion END ROOT*/

/*#region RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: var(--background);
  font-family: var(--font-plus-jakarta-sans);
  font-family: var(--font-preahvihear);
}

/*#endregion END RESET */

/*#region BASE */
.container {
  width: 65%;
  margin: auto;
}

.purple-text {
  color: var(--purple);
}

.purple-text-light {
  color: var(--purple-light);
}

/*#endregion END BASE */

/*#region ##### HEADER ##### */
#page-header {
  font-family: var(--font-plus-jakarta-sans);
  background-color: var(--purple-dark);
  padding: 3rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#page-header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-header .header-wrapper .header-logo {
}

#page-header .header-wrapper .header-logo .logo-img {
}

#page-header .header-wrapper .navbar {
  display: flex;
  gap: 15rem;
}

#page-header .header-wrapper .navbar .nav-item {
  color: var(--white);
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.2s ease;
}

/* Hover */
#page-header .header-wrapper .navbar .nav-item:hover {
  color: var(--purple);
}

/* Responsive */

/* laptop */
@media screen and (max-width: 1024px) {
  #page-header .header-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  #page-header .header-wrapper .navbar {
    gap: 10rem;
  }
}

/* mobile L */
@media screen and (max-width: 425px) {
  #page-header .header-wrapper {
    gap: 3rem;
  }

  #page-header .header-wrapper .navbar {
    gap: 5rem;
  }
}
/*#endregion END HEADER */

main#main {
  margin-top: 2rem;
}

/*#region ##### INTRODUCTION #####*/
main#main .introduction {
  font-family: var(--font-preahvihear);
  padding: 15rem 0;
}

main#main .introduction .basic-information {
  display: flex;
  align-items: center;
}

main#main .introduction .basic-information .me {
  position: relative;
}

main#main .introduction .basic-information .me .arrow {
  text-align: right;
  position: absolute;
  width: 100%;
}

main#main .introduction .basic-information .me .arrow .arrow-image {
}

main#main .introduction .basic-information .me .arrow .greeting {
  position: absolute;
  right: -53%;
  top: 2rem;
  width: fit-content;
}

main#main .introduction .basic-information .me .avatar .avatar-image {
  margin-left: -10px;
}

main#main .introduction .basic-information .quote {
  margin-left: -5rem;
}

main#main .introduction .basic-information .quote .who {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  width: fit-content;
  font-size: 1.7rem;
  line-height: 70%;
}

main#main .introduction .basic-information .quote .judges-a-book {
  font-size: 5rem;
  line-height: 130%;
}

main#main .introduction .basic-information .quote .affirmative {
  font-size: 1.1rem;
}

main#main .introduction .position {
  margin: 5rem 0 6rem 0;
}

main#main .introduction .position .current {
  font-size: 5rem;
}

main#main .introduction .position .where {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

main#main .introduction .position .where .icon-facebook {
  display: inline-grid;
  place-content: center;
}

main#main .introduction .objective {
  font-size: 2.2rem;
}

/* Responsive */

/* laptop */
@media screen and (max-width: 1024px) {
  main#main .introduction .basic-information {
    flex-direction: column;
  }

  main#main .introduction .basic-information .quote {
    margin: unset;
  }

  main#main .introduction .position {
    text-align: center;
  }

  main#main .introduction .position .where {
    justify-content: center;
    flex-wrap: wrap;
  }

  main#main .introduction .objective {
    text-align: center;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  main#main .introduction .basic-information .me .arrow {
    position: relative;
  }

  main#main .introduction .basic-information .me .arrow .arrow-image {
    display: none;
  }

  main#main .introduction .basic-information .me .arrow .greeting {
    position: relative;
    top: unset;
    right: unset;
    margin: auto;
  }
}

/* mobile L */
@media screen and (max-width: 425px) {
}

/*#endregion INTRODUCTION */

/*#region ##### WORK EXPERIENCE ##### */

main#main .work-experience h2 {
  font-size: 4rem;
}

/* ########## EXPERIENCE CARDS ########## */
main#main .work-experience .experience-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2 - 10%), 1fr));
  grid-template-rows: auto;
  gap: 2rem;

  position: relative;
  margin-top: 5rem;
}

main#main .work-experience .experience-cards .experience-gradient-background {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 50%;
}

main#main .work-experience .experience-cards .card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  background: linear-gradient(
    130deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634 100%
  );
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
  border-top: 0.4rem solid #4f228d;
  padding: 3rem;
  gap: 2rem;
}

main#main .work-experience .experience-cards .card .card-image {
  flex: 1;
  height: fit-content;
}

main#main .work-experience .experience-cards .card .card-content {
  flex: 8;
  width: fit-content;
}

main#main .work-experience .experience-cards .card .card-content .title {
  font-size: 2.6rem;
}

main#main .work-experience .experience-cards .card .card-content .description {
  font-size: 0.8rem;
  width: 80%;
}

main#main
  .work-experience
  .experience-cards
  .card
  .card-content
  .button-learn-more {
  font-size: 1rem;
}

/* ########## SKILL ########## */
main#main .work-experience .skills {
  padding: 15rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main#main .work-experience .skills .experience-towards {
  text-align: center;
}

main#main .work-experience .skills .experience-towards p:first-child {
  font-size: 2.4rem;
}

main#main .work-experience .skills .experience-towards p:last-child {
  font-size: 1.7rem;
}

main#main .work-experience .skills .space-skills .space-skills-image {
  width: 100%;
}

/* ########## PROJECTS ########## */

main#main .work-experience .projects {
  display: flex;
  flex-direction: column;
}

main#main .work-experience .projects .featured-project {
  display: flex;
}

main#main .work-experience .projects .featured-project:nth-child(2n) {
  flex-direction: row-reverse;
  margin-top: 10rem;
}

main#main .work-experience .projects .featured-project .content {
  flex: 1;
}

main#main .work-experience .projects .featured-project .content .tag {
  color: var(--purple-tag-project);
  font-size: 1.6rem;
}

main#main
  .work-experience
  .projects
  .featured-project:nth-child(2n)
  .content
  .tag {
  text-align: right;
}

main#main .work-experience .projects .featured-project .content .title {
  font-size: 3.4rem;
  line-height: 100%;
}

main#main
  .work-experience
  .projects
  .featured-project:nth-child(2n)
  .content
  .title {
  text-align: right;
}

main#main .work-experience .projects .featured-project .content .description {
  margin: 2.5rem 0;
  width: 115%;
  font-size: 1.5rem;
  border-radius: 1.6rem;
  padding: 1rem 0 1rem 2rem;

  /* From https://css.glass */
  background: var(--background-glass);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  position: relative;
  z-index: 2;
}

main#main
  .work-experience
  .projects
  .featured-project:nth-child(2n)
  .content
  .description {
  margin: 2.5rem 0rem 2.5rem -15%;
  width: 115%;
  padding: 1rem 0 1rem 2rem;
}

main#main .work-experience .projects .featured-project .content .icons {
  margin-top: 1rem;
}

main#main
  .work-experience
  .projects
  .featured-project:nth-child(2n)
  .content
  .icons {
  text-align: right;
}

main#main .work-experience .projects .featured-project .project-image-wrapper {
  flex: 1;
  background-color: #2b0b3a;
  height: fit-content;
  border-radius: 1rem;
  position: relative;
}

main#main
  .work-experience
  .projects
  .featured-project
  .project-image-wrapper
  .project-image {
  width: 100%;
}

main#main
  .work-experience
  .projects
  .featured-project
  .project-image-wrapper
  .project-gradient-background {
  position: absolute;
  top: -30%;
  left: -30%;
  z-index: -1;
  width: 85%;
}

/* Responsive */

/* Between Laptop and Laptop L */
@media screen and (max-width: 1232px) {
  main#main .work-experience .experience-cards {
    grid-template-columns: auto;
  }

  main#main .work-experience .experience-cards .card {
    width: 70%;
    margin: auto;
  }
}

/* laptop */
@media screen and (max-width: 1024px) {
  main#main .work-experience h2 {
    text-align: center;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  main#main .work-experience .experience-cards .card {
    width: 100%;
  }
}

/* mobile L */
@media screen and (max-width: 425px) {
}

/*#endregion ##### WORK EXPERIENCE ##### */

/*#region ##### FOOTER: CONTACT ##### */
footer#page-footer .contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20rem 0;
}

footer#page-footer .contact .title {
  font-size: 2.5rem;
}

footer#page-footer .contact .cap {
  font-size: 1.5rem;
  margin-top: 6rem;
}

footer#page-footer .contact .cap address {
  margin-top: 3rem;
}

footer#page-footer .contact .social-media {
  margin-top: 1rem;
}

footer#page-footer .contact .social-media a {
  text-decoration: none;
}

/*#endregion ##### FOOTER: CONTACT ##### */
